.App {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}
.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1DB954; /* Spotify green */
}

.login-page h1 {
  color: white;
  margin-bottom: 20px;
}


.black-button {
  padding: 10px 20px;
  color: white;
  background-color: #191414;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  font-size: 16px;
}

.search-input[type="text"] {
  padding: 10px;
  border-radius: 24px;
  font-size: 16px;
}

table {
  width: 100%;
  table-layout: fixed;
}

table th {
  border-bottom: 2px solid white;
  padding-bottom: 10px;
}

table td:first-child, 
table td:last-child {
  width: 20%;
}

table td {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* Search.tsx */
.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-weight: bold;
}

form {
  margin-bottom: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 10px;
  list-style: none;
  cursor: pointer;
}

.pagination li {
  margin: 0 5px;
}

.pagination__link {
  padding: 10px 20px;
  color: white;
  background-color: #191414;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  text-decoration: none; 
}



/* search list items*/
.list-item td {
  position: relative;
}

.list-item td::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid white;
}

.list-item td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list-item td:hover {
  overflow: visible;
  white-space: normal;
  cursor: pointer;
}

.list-item td:hover::after {
  content: attr(data-title);
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 2px 5px;
  border-radius: 3px;
  z-index: 1;
}
