.App {
  text-align: center;
}
.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1DB954; /* Spotify green */
}

.login-page h1 {
  color: white;
  margin-bottom: 20px;
}

.login-page button {
  padding: 10px 20px;
  color: white;
  background-color: #191414; /* Spotify black */
  border: none;
  border-radius: 24px;
  cursor: pointer;
  font-size: 16px;
}
